<div *ngIf="home">

  <h2>{{home.name | uppercase}} Details</h2>
  <div><span>id: </span>{{home.id}}</div>
  <div>
    <label for="hero-name">Home name: </label>
    <input id="home-name" [(ngModel)]="home.name" placeholder="name">
  </div>

</div>
