<button type="button" class="clear"
            (click)="messageService.clear()">Clear messages</button>
  <div *ngIf="messageService.message.length">

  <h2>Messages</h2>

  <div *ngFor='let message of messageService.message'> {{message}} </div>

</div>
