<p>home works!</p>

<p>{{title}}</p>
<h2>{{home.id}} Details</h2>
<div> <span> id : </span>{{home.id}}</div>
<div> <span> name : </span>{{home.name}}</div>
<div>
  <label for="name">Home name: </label>
  <input id="name" [(ngModel)]="home.name" placeholder="name">
</div>
<h2>My Homes</h2>
<ul class="homes">
  <li *ngFor="let home of homes">
    <span class="badge">{{home.id}}</span> {{home.name}}
  </li>
  <li *ngFor="let home of homes">
  <button [class.selected]="home === selectedHome" type="button" (click)="onSelect(home)">
    <span class="name">{{home.name}}</span>
  </button>
</li>
</ul>

<div *ngIf="selectedHome">
  <h2>{{selectedHome.name | uppercase}} Detail</h2>
  <div>id: {{selectedHome.id}}</div>
  <div>
    <label for="name">Home name: </label>
    <input id="name" [(ngModel)]="selectedHome.name" placeholder="name">
  </div>
</div>

<h2>My Homes</h2>

<ul class="homes">
  <li *ngFor="let home of homes">
    <button [class.selected]="home === selectedHome" type="button" (click)="onSelect(home)">
      <span class="badge">{{home.id}}</span>
      <span class="name">{{home.name}}</span>
    </button>
  </li>
</ul>

